<div class="flex flex-col overflow-y-auto md:flex-row">
  <div class="h-32 md:h-auto md:w-1/2">
    <%= image_tag "forgot-password-office.jpeg", alt: "Office", class: "object-cover w-full h-full dark:hidden" %>
    <%= image_tag "forgot-password-office-dark.jpeg", alt: "Office", class: "hidden object-cover w-full h-full dark:block" %>
  </div>
  <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "w-full"}) do |f| %>
      <h1
        class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
      >
        Forgot password
      </h1>
      <%= render "devise/shared/error_messages", resource: resource %>
      <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">Email</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          placeholder: "Jane Doe",
                          class: "block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        %>
      </label>

      <button
        class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        type="submit"
      >
        Recover password
      </button>
      <%= render "devise/shared/links" %>
  <% end %>
  </div>
</div>