<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>




<!--<div class="flex flex-col overflow-y-auto md:flex-row">-->
<!--  <div class="h-32 md:h-auto md:w-1/2">-->
    <%#= image_tag "forgot-password-office.jpeg", alt: "Office", class: "object-cover w-full h-full dark:hidden" %>
    <%#= image_tag "forgot-password-office-dark.jpeg", alt: "Office", class: "hidden object-cover w-full h-full dark:block" %>
<!--  </div>-->
<!--  <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">-->
    <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--      <div class="w-full">-->
<!--        <h1-->
<!--          class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"-->
<!--        >-->
<!--          Forgot password-->
<!--        </h1>-->
<!--        <label class="block text-sm">-->
<!--          <span class="text-gray-700 dark:text-gray-400">Email</span>-->
<!--          <input-->
<!--            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"-->
<!--            placeholder="Jane Doe"-->
<!--            />-->
<!--        </label>-->

<!--        <a-->
<!--          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"-->
<!--          href="./login.html"-->
<!--        >-->
<!--          Recover password-->
<!--        </a>-->
<!--      </div>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->